---

---

<nav
  class="text-white px-5 py-2 w-full overflow-hidden top-0 fixed bg-black z-50 flex justify-between flex-col md:flex-row"
>
  <div class="flex justify-between items-center">
    <h1>
      <a href="#home"
        ><img
          src="/icon.png"
          alt="harel's logo"
          width="75"
          class="opacity-60 transition-all hover:opacity-100 mr-6"
        /></a
      >
    </h1>
    <div class="md:hidden inline-block">
      <button id="toggleNavbar" class="transition-all">
        <span
          class="fa-solid fa-bars text-red-500 opacity-50 active:opacity-100 text-2xl"
        ></span>
      </button>
    </div>
  </div>

  <div
    id="navbarList"
    class="md:flex md:flex-row flex-col items-left items-center justify-between w-full hidden transition-all ease-in duration-700"
  >
    <ul id="navItems" class="flex md:flex-row flex-col items-center gap-7">
      <li class="opacity-50 transition-all hover:opacity-100">
        <a href="#about-me">About Me</a>
      </li>
      <li class="opacity-50 transition-all hover:opacity-100">
        <a href="#technologies">Techonologies</a>
      </li>
      <li class="opacity-50 transition-all hover:opacity-100">
        <a href="#experience">Experience</a>
      </li>
      <li class="opacity-50 transition-all hover:opacity-100 md:mb-0 mb-4">
        <a href="#projects">Projects</a>
      </li>
    </ul>
    <div class="text-4xl mb-4 md:mb-0 text-center">
      <a
        title="Check the repo of this portfolio"
        href="https://github.com/harelog3/harel-portfolio"
        class="transition-all hover:-translate-y-2 hover:opacity-100 opacity-50"
        target="_blank"><span class="fa-brands fa-github"></span></a
      >
    </div>
  </div>
</nav>
<script>
  const navbarList = document.getElementById("navbarList");
  const toggler = document.getElementById("toggleNavbar");
  const nbClass = navbarList!.classList;
  toggler?.addEventListener("click", () => {
    nbClass.toggle("hidden");
  });
</script>
