---

---

<nav
  class="text-white px-5 py-2 w-full overflow-hidden top-0 fixed bg-black z-50 flex justify-between flex-col md:flex-row"
>
  <div class="flex justify-between items-center">
    <h1>
      <a href="#home"
        ><img
          src="/icon.png"
          alt="harel's logo"
          width="75"
          class="opacity-60 transition-all hover:opacity-100 mr-6"
        /></a
      >
    </h1>
    <div class="md:hidden inline-block">
      <button id="toggleNavbar" class="transition-all">
        <span
          class="fa-solid fa-bars text-red-500 opacity-50 active:opacity-100 text-2xl"
        ></span>
      </button>
    </div>
  </div>

  <div
    id="navbarList"
    class="md:flex md:flex-row flex-col items-left items-center justify-between w-full hidden transition-all ease-in duration-700"
  >
    <ul id="navItems" class="flex md:flex-row flex-col items-center gap-7">
      <li class="opacity-50 transition-all hover:opacity-100">
        <a href="#about-me">About Me</a>
      </li>
      <li class="opacity-50 transition-all hover:opacity-100">
        <a href="#technologies">Techonologies</a>
      </li>
      <li class="opacity-50 transition-all hover:opacity-100">
        <a href="#experience">Experience</a>
      </li>
      <li class="opacity-50 transition-all hover:opacity-100 md:mb-0 mb-4">
        <a href="#projects">Projects</a>
      </li>
    </ul>
    <!-- <div class="mt-4 md:mt-0 md:opacity-100 opacity-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-world transition-all opacity-50 hover:opacity-100 cursor-pointer"
        width="34"
        height="34"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ef4444"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
        <path d="M3.6 9h16.8"></path>
        <path d="M3.6 15h16.8"></path>
        <path d="M11.5 3a17 17 0 0 0 0 18"></path>
        <path d="M12.5 3a17 17 0 0 1 0 18"></path>
      </svg>
    </div> -->
  </div>
</nav>
<script>
  const navbarList = document.getElementById("navbarList");
  const toggler = document.getElementById("toggleNavbar");
  const nbClass = navbarList!.classList;
  toggler?.addEventListener("click", () => {
    nbClass.toggle("hidden");
  });
</script>
