---
const { text } = Astro.props;
---

<div>
  <div class="w-full border border-white"></div>
  <h3 class="m-3 text-3xl text-center lg:text-left">{text}</h3>
  <div class="w-full border border-white"></div>
</div>
