---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Harel - Portfolio</title>
    <link rel="icon" href="/public/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-black">
    <slot />
    <script
      is:inline
      src="https://kit.fontawesome.com/e0497758cb.js"
      crossorigin="anonymous"></script>
  </body>
  <style>
    html {
      scroll-behavior: smooth;
    }
    body {
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
    }
  </style>
</html>
